<div class="login-container d-flex justify-content-center align-items-center">
  <div class="card p-4" style="width: 400px;margin-top: 10vh; margin-bottom: 10vh;">
    <h3 class="text-center mb-4">Login</h3>
    <form (ngSubmit)="login()">
      <div class="form-group mb-3">
        <input id="emailAddress"
               type="email"
               class="form-control"
               placeholder="Email Address"
               [(ngModel)]="credentials.emailAddress"
               name="emailAddress"
               required />
      </div>
      <div class="form-group mb-3">
        <input id="password"
               type="password"
               class="form-control"
               placeholder="Password"
               [(ngModel)]="credentials.password"
               name="password"
               required />
      </div>
      <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
      <div class="text-center">
        <a routerLink="/register" class="text-decoration-none">Don't have an account? Register</a>
      </div>
    </form>
    <div *ngIf="errorMessage" class="error-message text-danger mt-3 text-center">
      {{ errorMessage }}
    </div>
  </div>
</div>
