<!-- basic styling nog toevoegen, komt later -->

<h1 class="text-5xl font-extrabold dark:text-white">
    Share a Meal projectcasus
</h1>
<p class="my-4 text-lg text-gray-500">
    Deze webapplicatie is gemaakt in het kader van het vak Client-side web
    development, individueel project.
</p>
<h2 class="text-4xl font-extrabold dark:text-white">Beschrijving</h2>
<p class="my-4 text-lg text-gray-500">Hier jouw beschrijving.</p>

<h2 class="text-4xl font-extrabold dark:text-white">Functional requirements</h2>
<p class="my-4 text-lg text-gray-500">
    De applicatie biedt de onderstaande functionaliteiten:
</p>

<!-- Functionele eisen -->
<div class="relative overflow-x-auto py-4">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
            <tr>
                <th scope="col" class="px-6 py-3">Nr.</th>
                <th scope="col" class="px-6 py-3">Requirement</th>
                <th scope="col" class="px-6 py-3">Toelichting</th>
                <th scope="col" class="px-6 py-3">M/S/C/W</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white dark:bg-gray-800">
                <td class="px-6 py-4">1</td>
                <td class="px-6 py-4">
                    De gebruiker kan een lijst van maaltijden inzien.
                </td>
                <td class="px-6 py-4">
                    De lijst is een tabel. Door te klikken op een maaltijd
                    navigeer je naar de details.
                </td>
                <td class="px-6 py-4">M</td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <td class="px-6 py-4">2</td>
                <td class="px-6 py-4">
                    De gebruiker kan alle details van een maaltijd inzien.
                </td>
                <td class="px-6 py-4">beschrijving.</td>
                <td class="px-6 py-4">M</td>
            </tr>
        </tbody>
    </table>
</div>
<!--  -->

<h2 class="text-4xl font-extrabold dark:text-white">
    Non-functional requirements
</h2>
<p class="my-4 text-lg text-gray-500">korte toelichting</p>

<!-- Functionele eisen -->
<div class="relative overflow-x-auto py-4">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
            <tr>
                <th scope="col" class="px-6 py-3">Nr.</th>
                <th scope="col" class="px-6 py-3">Non-functional</th>
                <th scope="col" class="px-6 py-3">Toelichting</th>
                <th scope="col" class="px-6 py-3">M/S/C/W</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white dark:bg-gray-800">
                <td class="px-6 py-4">1</td>
                <td class="px-6 py-4">Modulariteit, uitbreidbaarheid</td>
                <td class="px-6 py-4">
                    Het systeem is zo ontwikkeld dat functionaliteiten in
                    modules zijn gegroepeerd. Deze modules kunnen worden
                    hergebruikt.
                </td>
                <td class="px-6 py-4">M</td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <td class="px-6 py-4">2</td>
                <td class="px-6 py-4">Gebruiksvriendelijkheid</td>
                <td class="px-6 py-4">
                    Het systeem gebruikt een CSS framework voor styling. Het
                    systeem geeft heldere foutmeldingen naar de gebruiker. De
                    gebruiker ziet via breadcrumbs op ieder scherm van de
                    applicatie waar hij zich bevindt. De webapplicatie heeft een
                    herkenbare en consequent toegepaste ontwerpstijl.
                </td>
                <td class="px-6 py-4">M</td>
            </tr>
        </tbody>
    </table>
</div>

<!--  -->

<h2 class="text-4xl font-extrabold dark:text-white">Datamodel / ERD</h2>
<p class="my-4 text-lg text-gray-500">toelichting</p>
<img src="" alt="" />
